@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-wrapper{
	width: 100%;

}


.selected{
	//stroke: #f5be2c;
	//fill: #f5be2c;
	//opacity: .2;
}

.bubble{
	/* fill: #f5be2c;
	opacity: .3; */
}

.city{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
}
.capital{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	font-weight: 900;
}
.country-label{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	font-weight: 900;
}
.country-cases{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
}


.country{
	stroke-width:0px;
	fill:#efefef;

	@include mq(mobile){stroke: #efefef;}
	@include mq(tablet){stroke: #ffffff;}
}

.headline{@include fs-header(5);}
.timestamp{	
	margin-left: 0px;
    font-size: 13px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #767676;
}
.source{
	padding: 6px 0 6px 0;
	margin: 0;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color:#767676;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}
